[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jprb-walton
[access "refs/for/refs/*"]
	read = group user/jprb-walton
	push = group user/jprb-walton
	label-Code-Review = -2..+2 group user/jprb-walton
	label-Verified = -1..+1 group user/jprb-walton
	rebase = group user/jprb-walton
	removeReviewer = group user/jprb-walton
	submit = group user/jprb-walton
[access "refs/heads/*"]
	read = group user/jprb-walton
	create = group user/jprb-walton
	push = +force group user/jprb-walton
	pushMerge = group user/jprb-walton
[access "refs/tags/*"]
	push = group user/jprb-walton
	push = +force group user/jprb-walton
